@import "tailwindcss";

@theme {
  --color-sm-primary: #10b981; /* Emerald 500 */
  --color-sm-secondary: #059669; /* Emerald 600 */
  --color-sm-dark: #064e3b; /* Emerald 900 */
  --color-sm-surface: #ffffff;
  --color-sm-background: #f0fdf4; /* Green 50 */
}

@layer base {
  body {
    @apply bg-sm-background text-slate-800 font-sans tracking-tight antialiased selection:bg-sm-primary selection:text-white m-0;
  }
}
